{{ define "main" }}
  <section class="section list-page">
    <div class="container">
      <header class="section-header">
        <h1>{{ .Title }}</h1>
        {{ with .Description }}<p class="lead">{{ . }}</p>{{ end }}
      </header>
      {{ $paginator := .Paginate .RegularPagesRecursive }}
      <ul class="post-list">
        {{ range $paginator.Pages }}
          <li class="post-row">
            <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
          </li>
        {{ end }}
      </ul>
      {{ template "partials/pagination.html" . }}
    </div>
  </section>
{{ end }}
