{{ define "main" }}
<article class="post">
  <div class="meta">
    <span>{{ .Date.Format "Jan 2, 2006" }}</span>
    {{ with (.GetTerms "categories") }}
      <span class="dot">•</span>
      <div class="tag-list">
        {{ range . }}
          <a href="{{ .RelPermalink }}" class="pill">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
    {{ end }}
  </div>
  <h1>{{ .Title }}</h1>
  {{ with .Summary }}<p class="lead">{{ . }}</p>{{ end }}
  <div class="content">{{ .Content }}</div>

  {{ with (.GetTerms "tags") }}
    <div class="tag-row tag-list">
      {{ range . }}<a class="tag" href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>{{ end }}
    </div>
  {{ end }}
</article>
{{ end }}
